<div>
<h2>Videos</h2>
<% if @videos %> 
		<ul>
  		<% @videos.each do |video| %>
    		<ul> <h4><%= video.title %> </h4>
    				 <h5>uploaded by <%= video.author.name %></h5>
    				 <%=button_to "Click to View", video.url %> 
    				 <%= button_to "delete", {:controller => :videos,
     				 :action => 'destroy', :id => video.id }, :method => :delete %>
  		<% end %>
		</ul>
<% end %>
</div>

<div>
<%= button_to 'Upload new video', :action => 'new' %>
</div>
